@import "./Utils.css";

#tab-navigation-component{
    background-color: var(--main-color-1);
    overflow:hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    left:0;
    z-index: 10;
}


