:root{
    --main-color-1: #1a161e;
    --main-color-2:	#221e24;
    --main-color-3: #53616c;
    --main-color-4: #647989;
    --main-color-5: #647989;
    
    --font-color-1: #ffffff;
    
    --main-font: Geneva, Tahoma, Verdana, sans-serif;
}

h1{
    color: var(--font-color-1);
}

a:link, a:visited {
    background-color: var(--main-color-1);
    color: var(--font-color-1);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: var(--main-color-5);
}
