:root{
    --main-color-1: #1a161e;
    --main-color-2:	#221e24;
    --main-color-3: #53616c;
    --main-color-4: #647989;
    --main-color-5: #647989;
    
    --font-color-1: #ffffff;
    
    --main-font: Geneva, Tahoma, Verdana, sans-serif;
}
